

.spinner-container {
    display: flex;
    gap: 1.5em;
    color: #2c3e50;
    padding: 10em;
    
    
}

.spinner-container div {
    padding: 2em;
}

.spinner-container > div:nth-child(2) {
    color: #c61b2b;
}