

.location-container {
    padding: 0.4em 0 0.2em 0;
    width: 21em;
    height: 4em;
   
   
  
}

.location-container p {
    font-size: 0.7em;
    margin: 0;
}

@media (max-width: 768px) {

    .location-container{
        height: 80px;
        width: 300px;
    }

}