
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   flex-grow: 1;
    background-color: #778ca3;
    color:white;
    background-image: url('../../assets/choirSchhol_n.jpg');
    background-position: center;
    background-blend-mode: multiply;
  }
  
  .centeredContent {
    text-align: center;
  }
  
  .heading {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .heading-name {
    font-size: 6em;
    font-weight: 500;
  }
  
  .choirImage {
    width: 400px;
    height: auto;
    margin-top: 20px;
  }
  
  .description {
    font-size: 18px;
    margin: 20px 0;
  }
  
  .button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 767px) {
    .heading {
      font-size: 20px;
    }
  
    .heading-name {
      font-size: 30px;
      margin-top: 15px;
      text-align: center;
    }
  
    .description {
      font-size: 16px;
      margin-top: 25px;
      text-align: center;
    }
  }