/* Formations.module.css */
.container {
    display: flex;
    justify-content: center;
    gap:2em;
    padding: 3em;

  }
  
  .formationCard {
    display: flex;
    flex-direction: column;
    gap:3em;
    justify-content: space-between;
    text-align: center;
    padding: 40px;
    border: 2px solid #95a5a6;
    border-radius: 20px;
    margin: 20px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .formationCard:hover {
    transform: scale(1.05);
  }
  
  .choirImage {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .formationName {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #2c3e50;
  }
  
  .links {
    display: flex;
    justify-content: space-around;
  }
  
  .links a {
    text-decoration: none;
    color: #00cec9;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
  .links a:hover {
    color: #778ca3;
  }
  
  .image-container {
   flex: 1 1 80%;
   overflow: hidden;
   aspect-ratio: 16/9;
  }

  .image-container img{
    display: block;
    width: 100%;
    height: auto;
  }

  .content {
    flex: 1 1 20%;
  }