.form-container {
    max-width: 25em;
    margin: 4em auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.form-container button{
    border: none;
    background-color: #778ca3;
    display: block;
    margin: 0 auto;

}

.form-container button:hover {
    background-color:#4b6584 ;
}

.form-container p {
    color: red;
}