.card-container {

display: flex;
align-items: center;
justify-content: center;

}
  
  .card {
    max-width: 800px;
    margin: 20px auto;
    background-color: #2c3e50; 
    border-radius: 8px;
   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    transition: filter 0.3s ease; 

  }
  .card img:hover {
   
    opacity: 0.8; 
    filter: grayscale(100%)
    
  }
  
  .card-content {
    padding: 16px;
  }
  
  .card-content h2 {
    margin-top: 20px;
    color: #c61b2b; 
    text-align: center;
  }
  
  p {
    margin-bottom: 16px;
    color: #fff; 
  }
  
  .links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.5em
  }
  
  .links a {
    text-decoration: none;
    color:  #2c3e50;
    transition: color 0.3s ease;
    padding: 0.5em;
    border-radius: 0.4em;
  }
  
  .links a:hover {
    color: #0077cc;
  }

  .card-content a:hover {
    color: white;
  }

  .links .scores {
    background-color: #009bf9;
    
  }

  .links .arrangements {
    background-color: #25b382;
   
  }

  .links .choristers {
    background-color: #e4a6c4;
 
  }

  .overlay a {
    padding: 10px 20px;
    background-color: #c61b2b;
    color: #fff;
    border: none;
    border-radius: 5px;
    
    cursor: pointer;
    transition: background-color 0.3s ease; 
    text-decoration: none;
   
  }

  .admin-actions {
    display: flex;
    gap: 2em;
    justify-content: center;
    margin-top: 1em;
  }

  .admin-actions button,.admin-actions a  {
    display: inline-block;
    width: 100px;
  }
  
  