.nav-container {
    background-color: #c61b2b;
    display: flex;
    justify-content: center;
   
   
}


.nav-container a {
    text-decoration: none;
    color: white;
    margin: 0 auto;
    
    
}

.nav-container a:hover {
    color: #2c3e50;
}


@media screen and (max-width: 768px) {

    .nav-container{
        
        font-size: 0.4em;
        
    }


}